############################################
# Configurações do ambiente da aplicação
############################################

# Tipo do ambiente (normalmente separado entre desenvolvimento ou produção)
NODE_ENV=enviroment_type

# Porta da aplicação - em que porta a API vai rodar
PORT=3000

############################################
# Configuração do banco de dados
############################################

# Tipo de banco de dados - Para este projeto, foquei em utilizar o MySQL
DB_CLIENT=mysql2

# Endereço do local onde o banco está rodadno - para testes locais, use o localhost
DATABASE_URL=127.0.0.1

# Porta do banco de dados (padrão é 3306 para MySQL e 5432 para PostgreSQL)
DB_PORT=3306

# Nome do banco de dados
DB_NAME=database_name

# Usuario do banco de dados usado
DB_USER=database_user

# Senha do usuário do banco de dados
DB_PASSWORD=database_password

# Senha para o JWT ser gerado e assinado
JWT_SECRET=jwt_password

# Tempo de duração do JWT
JWT_EXPIRES_IN=1h